
<link rel="stylesheet" href="{{ url_for('static', filename='viewz.css') }}">


<form method="GET">
    <input type="text" name="search" placeholder="search insti">

<!-- <label for="package">Select Package:</label> -->
<select id="status_paid" name="status_paid">
  <option value="all">All</option>
  <option value="paid">Paid</option>
  <option value="unpaid">Unpaid</option>
</select>

    <button type="submit">Search</button>
</form>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Institution</th>
        </tr>
    </thead>
    <tbody>
        {% for users in all_users %}
        <tr>
            <td>{{ users.fullName }}</td>
            <td>{{ users.institution }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('index') }}">
    <button>Back</button>
</a>